<div class="row header">
    <div class="col-md-3">
        <img src="../../assets/youtube-logo-hd-8.png" alt="YouTube Logo" class="logo">
        <span class="logo-text">YouTube</span>
    </div>
    <div class="col-md-6 logo-container">
        <input type="text" placeholder="Search" class="search-bar">
        <button class="search-button"><i class="fa fa-microphone"></i></button>
      </div>
      <div class="col-md-3">
        <button class="icon-button"><i class="fa fa-bell"></i></button>
        <button class="icon-button"><i class="fa fa-upload"></i></button>
        <button class="icon-button"><i class="fa fa-user"></i></button>
      </div>
</div>

<div class="sidebar">
  <ul class="sidebar-menu">
      <li><i class="fa fa-home"></i></li>
      <li><i class="fa fa-fire"></i> </li>
      <li><i class="fa fa-bookmark"></i> </li>
      <li><i class="fa fa-music"></i> </li>
      <li><i class="fa fa-user"></i> </li>
  </ul>
</div>

