.container {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    margin-top: 60px;
    padding: 20px;
    overflow-y: auto;
  }
  
  
  .video-thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .video-thumbnail {
    overflow: hidden;
    border-radius: 10px;
  }
  
  .video-thumbnail img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 10px;
  }
  
  .video-thumbnail:hover img {
    transform: scale(1.1);
  }


  .video-title
  {
    color: white;
    font-size: 16px;
  }

  .channel-information
  {
    color: grey;
    font-size: 13px;
    text-overflow: hidden;
    height: 20px;
  }

 
  